<body>
    <p>
        Might be interesting what is going on <a href='ticket/details/{{ticket.id}}' target="_blank">here</a>
        (ticket).
    </p>
    <br>
    <h3>
        {{ticketActivity.title}}
    </h3>
    <p>
        {{ticketActivity.description}}
    </p>
    <br>
    <br>
    <p>
        Click <a href='{{URL}}/ticketWatcher/unwatch/{{encodedUserId}}/{{ticket.id}}' target="_blank">here</a> to unwatch.
    </p>
</body>